* {
  margin: 0;
  padding: 0;
  font-family: "DM Mono", monospace;
  --primaryColor: #22a699;
  --secondaryColor: #f2be22;
  --secondarySecondColor: #f29727;
  --lastColor: #f24c3d;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--primaryColor);
}

.centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 100vw;
}

.weather-wrapper .search {
  width: 270px;
  margin: 2rem auto;
  padding: 8px;
  background-color: var(--secondaryColor);
  font-weight: 800;
  text-align: center;
  border-radius: 5px;
  outline: transparent;
}
.weather-wrapper button {
  background: var(--secondarySecondColor);
  padding: 8px;
  border-radius: 5px;
}
.weather-wrapper button:hover {
  background-color: #ff8c00;
  color: #fff;
  transform: translateY(-5%);
  box-shadow: 0 0 5px black;
}
.weather-wrapper .search:focus-visible {
  outline-color: transparent;
}
.weather-wrapper .container {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.weather-wrapper #weatherForm {
  display: flex;
  align-items: center;
}
.weather-wrapper #weatherForm span {
  padding-inline: 5px;
}
.weather-wrapper #weatherForm input[type=checkbox] {
  width: 20px;
  height: 20px;
  margin-inline: 5px;
}
.weather-wrapper .warning {
  color: var(--lastColor) !important;
  font-weight: 800;
  height: 50px !important;
}
.weather-wrapper .weatherResult {
  text-align: center;
  display: none;
  opacity: 0;
  display: flex;
}
.weather-wrapper .weatherResult .bi {
  font-size: 2rem;
  left: 29px;
  position: absolute;
}
.weather-wrapper .weatherResult span {
  display: flex;
  align-items: center;
  justify-content: center;
}
.weather-wrapper .weatherResult .location {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.weather-wrapper .weatherResult.showed-up {
  display: block !important;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 910px;
  padding: 2%;
  animation: slide-in 350ms ease forwards;
}
.weather-wrapper .weatherResult .weather-image {
  display: flex;
  justify-content: center;
}
.weather-wrapper .weatherResult .weather-image .image-container img {
  scale: 1.2;
}
.weather-wrapper .weatherResult .rest .rest-input {
  display: flex;
  margin-inline: 12px;
  padding-block: 8px;
  align-items: center;
  justify-content: space-between;
}
@keyframes slide-in {
  0% {
    transform: translateY(-10%);
    height: 20px;
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    height: 200px;
    opacity: 1;
  }
}
.weather-wrapper .weather-forcast-wrapper {
  display: inline-grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 52px;
  grid-auto-rows: minmax(100px, auto);
  justify-items: center;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.weather-wrapper .weather-forcast-wrapper .forcast {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 20%;
  border-radius: 5px;
  height: 144px;
  width: 92px;
}
.weather-wrapper .weather-forcast-wrapper .forcast .forcast-image-container img {
  padding: 2%;
  scale: 1.5;
}
.weather-wrapper .weather-forcast-wrapper .forcast p {
  font-size: 1.5rem;
  font-weight: 500;
}/*# sourceMappingURL=style.css.map */